*{ 
    box-sizing: border-box;
    margin:0;
    padding:0;
   }

   body{
    background: rgb(215, 214, 245);
    display: flex;
    justify-content: center;
    padding: 20px
 }


header{
    background: white;
    height: 150px;
    width: 98vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logo-holder{
    display: flex;
    align-items: center;
    width: 15%;
}

.logo-holder > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    height: 50px;
    width: 50px;
}

.navigation{
    display:flex;
    width: 60%;
    justify-content: space-between;
}

.navigation > h3{
    font-size: 15px;
}

.buttons{
    display: flex; 
    width: 15%;
    justify-content: space-between;
    margin-right: 2.5%;
}

.buttons :nth-child(1){
    width: 50%;
    height: 45px;
    border-radius: 16px;
    background: rgb(17, 17, 87);
    color: white;
    font-size: 15px;
}

.buttons :nth-child(2){
    font-family: cursive;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: black;
    color: white;
}